{{> layout_top}}

<h3>Admin</h3>

<div class="panel panel-default">
    <div class="panel-heading">Who is logged in</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                Jason Erickson <span class="badge">17:03</span>
            </li>
            <li class="list-group-item">
                Jakub Swiatczak <span class="badge">13:33</span>
            </li>
            <li class="list-group-item">
                Jeffery Wysong <span class="badge">11:45</span>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Most Edited Pages</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="/view/GOTRvsLOTR" class="list-group-item">
                GOTvsLOTR <span class="badge">10934</span>
            </a>
            <a href="/view/EmacsVsVim" class="list-group-item">
                EmacsVsVim <span class="badge">9473</span>
            </a>
            <a href="/view/TabsVsSpaces" class="list-group-item">
                TabsVsSpaces <span class="badge">1234</span>
            </a>
            <a href="/view/JetBrainsVsEclipse" class="list-group-item">
                JetBrainsVsEclipse <span class="badge">343</span>
            </a>
            <a href="/view/JetBrainsVsVim" class="list-group-item">
                JetBrainsVsVim <span class="badge">123</span>
            </a>
            <a href="/view/SWAGisAwesome" class="list-group-item">
                SWAGisAwesome <span class="badge">56</span>
            </a>
        </div>
    </div>
</div>

{{> layout_bottom}}