{{> layout_top}}

<h3>Admin</h3>

<div class="panel panel-default">
    <div class="panel-heading">Who is logged in</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                Jason Erickson <span class="badge">17:03</span>
            </li>
            <li class="list-group-item">
                Jakub Swiatczak <span class="badge">13:33</span>
            </li>
            <li class="list-group-item">
                Jeffery Wysong <span class="badge">11:45</span>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Most Edited Pages</div>
    <div class="panel-body">
        <div class="list-group">
            {{#each OtherPages as |Page PageIndex|}}
            <div class="list-group-item">
            <a href="/view/{{Page.Title}}">
                {{Page.Title}}
            </a>
                {{#unless Page.IsFrontPage}}
            <div class="pull-right"><a href="/delete/{{Page.Title}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a></div>
                {{/unless}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{> layout_bottom}}